---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A lil bit about me"
	pubDate={new Date('Sep 08 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Saicharan Kandukuri Aka zman1x1
	</p>
	<p>
		i am a Computer Science undergrad currently in my 4rth year of college.
		Capable of working with a variety of technology and software solutions.
		Been doing FOSS Projects for the past 2 years and as Intern with 4 figure salary for 6 months ( pretty new to the industry ).
	</p>
	<p>
		Some of my projects.
		<ul>
			<li>
				<a href="https://github.com/RandomCoderOrg/ubuntu-on-android" target="_blank">
					<abbr title="also known as ubuntu on android">UDROID</abbr>
				</a>:
				A project to build and ship ubuntu with pre-installed packages to run in android.
			</li>

			<li>
				<a href="https://github.com/SaicharanKandukuri/puwifi" target="_blank">
					<abbr title="Parul University WIFI">puwifi</abbr>
				</a>:
				A project to auto SignIn to parul university university wifi networks. 
			</li>	
		</ul>
	<p>
</Layout>
